<h1>My Orders {{this.filteredOrders.length}}</h1>
<button class="btn btn-light" (click)="changeShippedFilter()"> {{shipped == true ? 'Enviado' : 'Deposito'}}</button>


<div class="filtersHeader">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <div class="check" *ngFor="let category of categories">
          <div class="category-container">
            <div style="display:flex">
              <h6>{{category.name}}</h6>
              <input type="checkbox" class="checkCategory" (change)="filterByCategory(category.name,$event)"> 

            </div>
            
            <p>products: {{category.productquantity}}</p> 
            <p>orders: {{category.oquantity}}</p>
          </div>
          
        </div>
        
        <button class="btn btn-light" (click)="clearFilters()" >Clear filters</button>

      </div>
    </div>

  </div>

</div>



<div class="row col-10" >
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Order</th>
        <th class="" style="width: 230px">Shipped</th>
        <th class="" style="width: 200px">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of filteredOrders">
        <td></td>
        <td><a href="" [routerLink]="['/order-success', order.$key]">{{order.$key}}</a></td>
        <td>{{order.shipped == true ? 'Enviado' : 'Deposito'}}</td>
        <td>{{order.datePlaced | date: 'dd/MM/yyyy'}}</td>
       
        <td class="text-right"></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right"></th>
      </tr>
    </tfoot>
  </table>

</div>


