
<div class="dashboard-overview dashboard-text">
  <div class="walletBar">
    <div class="walletClienteAdress">
      <span class="genericSpanTitle">{{currentWallet}}</span>
      
   </div>
   <div class="walletClienteName">
    <span class="genericSpan">{{client.name}}
      {{client.subname}}</span>
   </div>
  </div>
  
  
  <div class="stats">

    <div class="col-md-4">
      <div class="workers">
      <div class="header">
        <span class="genericSpanTitle">workers</span>
      </div>
      <div class="body">
        <span class="genericSpan">{{workersQuantity}} rig active</span>
      </div>
      
    </div>
  </div>

  <div class="col-md-4">
    <div class="unpaid" (click)="changeCurrency()">
      <div *ngIf="!animationRunning" class="header">
        <span class="genericSpanTitle">Unpaid balance</span>
      </div>
      <div class="body" *ngIf="!animationRunning">
        <span class="genericSpan">{{currentUnpaid}} {{currentCurrency}}</span>
      </div>
      <div class="body loadinggif" *ngIf="animationRunning">
        <img class="loadinggif" src="https://static.wixstatic.com/media/1349d5_c835f98714b4433183228f0469c2ebce~mv2.gif" alt="Loading...">
      </div>
      
    </div>
  </div>

    <div class="col-md-4">
      <div class="shares">
        <div class="header">
          <span class="genericSpanTitle">Shares</span>
        </div>
        <div class="body">
          <span class="genericSpan">{{validShares}}/{{staleShares}}/{{invalidShares}}</span>
        </div>
         
      </div>
    </div>
    
  </div>
  <div class="charts">

    <div class="col-md-4">
      <div class="header">
        <span class="genericSpanTitle">Status</span>
      </div>

      <div class="body miningStatusOk" *ngIf="notWorking == true">
        {{status}}
      </div>
      <div class="body" *ngIf="notWorking == false">
        <a class="errorHashrate" href="https://api.whatsapp.com/send?phone=+549221507-2198">Ups, algo anda mal</a>
        <a class="imgErrorWsp" href="https://api.whatsapp.com/send?phone=+549221507-2198">
          <img class="imgErrorWsp" src="https://cdn.icon-icons.com/icons2/729/PNG/512/whatsapp_icon-icons.com_62756.png" 
          alt="Algo anda mal..."></a>

      </div>
      

    </div>

    <div class="col-md-4">
      <div class="header">
        <span class="genericSpanTitle">
          Reported hashrate
        </span>
        
      </div>
      <div class="body">
        <span class="genericSpan">{{reportedHashrate}} mh/s</span>
      </div>
      <div></div>
    </div>
   
      
      
    <div class="col-md-4">
      <div class="header">
        <span class="genericSpanTitle">Current hashrate</span>
      </div>
      <div class="body">
        <span class="genericSpan">{{currentHashrate}} mh/s</span>
      </div>
    </div>


  </div>
  <img class="loadinggif" (click)="changeProfitTimeLapse()" src="../../assets/exchange.png">
  <span class="genericSpanBig">{{arrayChangeProfit[indexArrayChange - 1].timeLapse}}</span>
  

  <div class="currentPayouts">
    
    <div class="col-md-4">
      <div *ngIf="!animationRunning" class="header">
        <span class="genericSpanTitle">Dólar</span>
      </div>
      <div *ngIf="!animationRunning" class="body">
        <span class="genericSpan">{{dailyDolares}} USD</span>
      </div>
      <div class="body loadinggif" *ngIf="animationRunning">
        <img class="loadinggif" src="https://static.wixstatic.com/media/1349d5_c835f98714b4433183228f0469c2ebce~mv2.gif" alt="Loading...">
      </div>
    </div>

    <div class="col-md-4">
      <div *ngIf="!animationRunning" class="header">
        <span class="genericSpanTitle">Ethéreum</span>
      </div>
      <div *ngIf="!animationRunning" class="body">
        <span class="genericSpan">{{dailyEth}} ETH</span>
        
      </div>
      <div class="body loadinggif" *ngIf="animationRunning">
        <img class="loadinggif" src="https://static.wixstatic.com/media/1349d5_c835f98714b4433183228f0469c2ebce~mv2.gif" alt="Loading...">
      </div>
    </div>

    <div class="col-md-4">
      <div *ngIf="!animationRunning" class="header">
        <span class="genericSpanTitle">Ars</span>
      </div>
      <div *ngIf="!animationRunning" class="body">
        <span class="genericSpan">{{dailyPesos}} ARS</span>
        
      </div>
      <div class="body loadinggif" *ngIf="animationRunning">
        <img class="loadinggif" src="https://static.wixstatic.com/media/1349d5_c835f98714b4433183228f0469c2ebce~mv2.gif" alt="Loading...">
      </div>
    </div>
    
  </div>
 
  
  
</div>

