
<div class="dashboard-overview dashboard-text">
  <div class="walletClienteAdress"> <span class="{{status}}">{{currentWallet}}</span></div>
  <div class="stats">

    <div class="col-md-4">
      <div class="workers">
      <div class="header">
        <span class="genericSpan">workers</span>
      </div>
      <div class="body">
        {{workersQuantity}} rig active
      </div>
      
    </div>
  </div>

  <div class="col-md-4">
    <div class="unpaid" (click)="changeCurrency()">
      <div *ngIf="!animationRunning" class="header">
        <span class="genericSpan">Unpaid balance</span>
      </div>
      <div class="body" *ngIf="!animationRunning">
        {{currentUnpaid}} {{currentCurrency}}
      </div>
      <div class="body loadinggif" *ngIf="animationRunning">
        <img class="loadinggif" src="https://static.wixstatic.com/media/1349d5_c835f98714b4433183228f0469c2ebce~mv2.gif" alt="Loading...">
      </div>
      
    </div>
  </div>

    <div class="col-md-4">
      <div class="shares">
        <div class="header">
          <span class="genericSpan">Shares</span>
        </div>
        <div class="body">
          {{validShares}}/{{staleShares}}/{{invalidShares}}
        </div>
         
      </div>
    </div>
    
  </div>
  <div class="charts">

    <div class="col-md-4">
      <div class="header">
        <span class="genericSpan">Status</span>
      </div>

      <div class="body miningStatusOk" *ngIf="notWorking == true">
        {{status}}
      </div>
      <div class="body" *ngIf="notWorking == false">
        <a class="errorHashrate" href="https://api.whatsapp.com/send?phone=+549221507-2198">Ups, algo anda mal</a>
        <a class="imgErrorWsp" href="https://api.whatsapp.com/send?phone=+549221507-2198">
          <img class="imgErrorWsp" src="https://cdn.icon-icons.com/icons2/729/PNG/512/whatsapp_icon-icons.com_62756.png" 
          alt="Algo anda mal..."></a>

      </div>
      

    </div>

    <div class="col-md-4">
      <div class="header">
        <span class="genericSpan">
          reported hashrate
        </span>
        
      </div>
      <div class="body">
        {{reportedHashrate}} mh/s
      </div>
      <div></div>
    </div>
   
      
      
    <div class="col-md-4">
      <div class="header">
        <span class="genericSpan">currenthashrate</span>
      </div>
      <div class="body">
        {{currentHashrate}} mh/s
      </div>
    </div>


  </div>
  <img class="loadinggif" (click)="changeProfitTimeLapse()" src="../../assets/exchange.png">
  <span>{{arrayChangeProfit[indexArrayChange - 1].timeLapse}}</span>
  

  <div class="currentPayouts">
    
    <div class="col-md-4">
      <div *ngIf="!animationRunning" class="header">
        <span class="genericSpan">Dólar</span>
      </div>
      <div *ngIf="!animationRunning" class="body">
        {{dailyDolares}} USD
      </div>
      <div class="body loadinggif" *ngIf="animationRunning">
        <img class="loadinggif" src="https://static.wixstatic.com/media/1349d5_c835f98714b4433183228f0469c2ebce~mv2.gif" alt="Loading...">
      </div>
    </div>

    <div class="col-md-4">
      <div *ngIf="!animationRunning" class="header">
        <span class="genericSpan">Ethéreum</span>
      </div>
      <div *ngIf="!animationRunning" class="body">
        {{dailyEth}} ETH
      </div>
      <div class="body loadinggif" *ngIf="animationRunning">
        <img class="loadinggif" src="https://static.wixstatic.com/media/1349d5_c835f98714b4433183228f0469c2ebce~mv2.gif" alt="Loading...">
      </div>
    </div>

    <div class="col-md-4">
      <div *ngIf="!animationRunning" class="header">
        <span class="genericSpan">Ars</span>
      </div>
      <div *ngIf="!animationRunning" class="body">
        {{dailyPesos}} ARS
      </div>
      <div class="body loadinggif" *ngIf="animationRunning">
        <img class="loadinggif" src="https://static.wixstatic.com/media/1349d5_c835f98714b4433183228f0469c2ebce~mv2.gif" alt="Loading...">
      </div>
    </div>
    
  </div>
 
  
  
</div>

